@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Kanit&family=Open+Sans:wght@300&family=Roboto:wght@300&family=Yellowtail&display=swap");

header {
	text-align: center;
	background-color: #dee2e6;
	color: black;
	padding-bottom: 10px;
  background-image: url(images/banner_background.jpg);
  background-size: cover;
}

section {
	text-align: center;
}

body {
	font-family: Roboto, sans-serif;
	background-color: #dee2e6;
	margin: 0;
}

h1 {
	font-family: Corinthia, cursive;
	margin-top: 0;
	padding-top: 15px;
	font-size: 3em;
	text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h2 {
	font-family: Open sans, sans-serif;
	font-size: 2em;
	width: 500px;
	margin: auto;
	text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

h3:before {
	content: "« ";
	color: grey;
}

h3 {
	font-family: Open sans, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: uppercase;

}

h3:after {
	content: " »";
	color: grey;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
	display: inline;
}

nav {
	font-family: Open sans, sans-serif;
	text-align: center;
	background: #e9ecef;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 1.1em;
	padding: 15px;
}

li {
	list-style-type: none;
	font-size: 1.3em;
	display: inline;
	margin: 10px;
}

li:hover {
	font-weight: bold;
	text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.3s;
}

footer {
	background: #dee2e6;
	color: black;
	text-align: center;
	padding: 15px;
}

* {
	box-sizing: border-box;
}

/* ID */

#logo {
  width: 160px;
}

#img-round {
	border-radius: 50%;
	width: 150px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#img-round:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.3s;
}

#contact {
	border: 1px black solid;
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 50px;
	font-family: Open sans, sans-serif;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 1.2em;
}

#contact a {
	font-weight: bolder;
	font-style: italic;
	font-size: 1.1em;
}

#projects {
	display: flex;
	flex-wrap: wrap;
}

/* CLASSES */

.welcome p {
	font-size: 1.2em;
}

.separator {
	width: 30px;
	height: 1px;
	margin: 15px auto;
	display: block;
	background: black;
}

.contener{
	width: 80%;
	margin: auto;
}

.competence {
	width: 400px;
	margin: 30px;
	display: inline-block;
	background: white;
	padding-bottom: 15px;
	border: 0 black solid;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.competence:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.3s;
}

.competence img {
	height: 266px;
}

.competence span {
	text-transform: uppercase;
	display: block;
	font-size: 1.3em;
  padding-top: 10px;
}

.social-media{
  font-size: 2em;
}
